<h1>Detail-Editor</h1>
<div class="attribute-list">
    <div class="attribute-row">
        <label>Name</label>
        <input
                type="text"
                [(ngModel)]="person.name"
        />
    </div>
</div>
<div class="parent-choice">
    <label>Mother</label>
    <div *ngIf="!person.mother">
        <span class="alert-ref">No Mother</span>
    </div>
    <div class="ref-info" *ngIf="person.mother">
        <span class="ref-label">{{ person.mother.name }}</span>
        <button (click)="removeMother()">Remove Mother</button>

    </div>
    <button (click)="chooseMother()">
        Set Mother
    </button>
</div>
<div class="parent-choice">
    <label>Father</label>
    <div *ngIf="!person.father">
        <span class="alert-ref">No Father</span>
    </div>
    <div class="ref-info" *ngIf="person.father">
        <span class="ref-label">{{ person.father.name }}</span>
        <button (click)="removeFather()">Remove Father</button>
    </div>
    <button (click)="chooseFather()">
        Set Father
    </button>
</div>
<h3>Relationships</h3>
<div class="reference-list">
    <h4>Children</h4>

    <div class="container-row"
         *ngFor="let child of person.children">
        <div class="ref-info">
            <span class="ref-icon">🔗</span>
            <span class="ref-type">{{child.isWoman?'Woman':'Man'}}</span>
            <span class="ref-label">{{ child.name }}</span>
        </div>

        <div class="ref-actions">
            <button (click)="openDetails(child)">Open</button>
            <button (click)="removeChild(child)">Remove</button>
        </div>
    </div>

</div>


